
<div class="jumbotron">
  <div class="container">
  <h1>Hello, michelada!</h1>
  <p>...</p>
  <p><%= link_to 'Brands', brands_path  %></p>
  <p><%= link_to 'Products', products_path %></p>
  </div>
</div>